# core
# ansible 11 required python 3.8 on remote server
ansible==14.2.0
netaddr==1.3.0
dnspython==2.8.0

molecule==26.6.0
molecule-plugins[docker]==26.7.15
docker==7.2.0
pytest-testinfra==10.2.2

# additional libs for run molceule tests in k8s
kubernetes==36.0.3
PyYAML==6.0.3
jsonpatch==1.33

# linters
ansible-lint==26.6.0

yamllint==1.38.0
pylint==4.0.6

# hashicorp
hvac==2.4.0
pytz==2026.2

# python base
pip==26.1.2
setuptools==83.0.0
wheel==0.47.0

# update platform base
python-gilt==2.2.5

# bcrypt
passlib==1.7.4
bcrypt==4.3.0

# other
pyyaml==6.0.3
editorconfig-checker==3.6.1

# for cookiecutter
pydantic==2.13.4
pydantic_core==2.46.4 # 2.46.4 required for pydantic 2.13.4
cookiecutter==2.7.1
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
