# core (for kubespray)
ansible==10.2.0

# for filters
netaddr==1.3.0
dnspython==2.6.1

# for kubespray
distlib==0.3.8
jmespath==1.0.1

# test
molecule==24.8.0
molecule-plugins[docker]==23.5.3
docker==7.1.0
pytest-testinfra==10.1.1

# linters
ansible-lint==24.7.0
yamllint==1.35.1
flake8==7.1.0

# hashicorp
hvac==2.3.0
pytz==2024.1

# python base
pip==24.1.2
setuptools==71.1.0
wheel==0.43.0

# https://github.com/ansible-collections/community.docker/issues/868#issuecomment-2124979976
# если хотите обновить, проверьте работает ли molecule create
#requests==2.31.0

# update platform base
python-gilt==2.2.3
